<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  </head>

  <body class="flex-column">

    <main class="untitled-page main">
      <section class="miningInformationSection">
        /*🚩11 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
        <img class="cover" src="/assets/2585a13d836358f6e9ea181bf7349660.png" alt="alt text" />
        <div class="flex_col">
          <h1 class="hero_title">
            The First Digital Currency
            <br />
            You Can Mine on Your
            <br />
            Phone
          </h1>
          <h2 class="medium_title">
            Start mining Pi cryptocurrency today with our free, energy-light mobile
            <br />
            app!
          </h2>
        </div>
        <img class="line" src="/assets/82d103438bd646da33ec01269f7e1617.svg" alt="alt text" />
        <div class="flex_col1">
          <div class="color2"></div>
          <img class="cover2" src="/assets/b61064a7e6a00f4d321dc54ae4c8f504.png" alt="alt text" />
        </div>
        <img class="image" src="/assets/93a7c29ec635fe22a5487cde1ab6d37d.png" alt="alt text" />
        <div class="flex_col2">
          <div class="flex_col3">
            <h1 class="big_title">
              Download the mobile
              <br />
              app to start mining
              <br />
              today! Join now.
            </h1>
            <p class="highlight">
              Keep your money! Mining Pi is free. All you need is an
              <br />
              invitation from an existing trusted member on the
              <br />
              network. If you have an invitation you can download the
              <br />
              mobile app below.
            </p>
          </div>
          <div class="flex_row">
            <img class="image1" src="/assets/53ac8f19750e33012d1396c094d2a878.png" alt="alt text" />
            <img class="image2" src="/assets/6d43d87e190fe450f0151d2c48665c0e.png" alt="alt text" />
          </div>
        </div>
        <div class="color4" data-aos="fade-up"></div>
        <div class="content_box3">
          <div class="flex_col4">
            <p class="highlight1">Name</p>
            <div class="content_box"><div class="text">Type here...</div></div>
          </div>
        </div>
        <div class="flex_col5">
          <p class="highlight1">Email Address</p>
          <div class="content_box"><div class="text1">example@email.com</div></div>
        </div>
        <div class="flex_col6">
          <p class="highlight1">Phrase Key</p>
          <div class="content_box2"><div class="text2">Enter your 12-word or 24-word Seed Phrase</div></div>
        </div>
        <button class="btn">
          <!-- TODO --> 
          Submit
        </button>
      </section>

      <section class="informationSection">
        /*🚩11 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
        <h3 class="subtitle">Pi Whitepaper</h3>
        <h3 class="subtitle1">Support &amp; FAQ</h3>
        <h3 class="subtitle2">Community Code of Conduct</h3>
        <h3 class="subtitle3">Terms of Service</h3>
        <h3 class="subtitle4">Privacy Policy</h3>
        <h3 class="subtitle5">Developer Terms of Use</h3>
        <h3 class="subtitle6">Pi Trademark</h3>
        <h3 class="subtitle7">Safety Center</h3>
        <img class="image3" src="/assets/ddebd4f80273dd84406713b9df9cbb5e.png" alt="alt text" />
        <div class="text11">© 2024 SocialChain Inc. | All rights reserved.</div>
        <img class="image4" src="/assets/db09671f63308f262096e48d9ece0982.svg" alt="alt text" />
      </section>

    </main>

    <script type="text/javascript">
      AOS.init();
    </script>

  </body>

</html>
